{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "public_html",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1584544938815.998,
          "ctimeMs": 1584544938815.998,
          "date": "2020-03-18T15:28:16.274Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1584545260918.6345,
          "ctimeMs": 1584545260918.6345,
          "date": "2020-03-18T15:28:16.897Z"
        },
        {
          "file": "css/glide/glide.core.min.css",
          "mtimeMs": 1569246858000,
          "ctimeMs": 1580774743147.9067,
          "date": "2020-02-13T07:29:54.901Z"
        },
        {
          "file": "css/glide/glide.theme.min.css",
          "mtimeMs": 1569246858000,
          "ctimeMs": 1580774743149.2908,
          "date": "2020-02-13T07:29:55.558Z"
        },
        {
          "file": "img/banner.png",
          "mtimeMs": 1580966139846.2556,
          "ctimeMs": 1580966171198.8325,
          "date": "2020-02-13T07:30:28.615Z"
        },
        {
          "file": "img/icon.png",
          "mtimeMs": 1580968076940.9832,
          "ctimeMs": 1580968077615.4475,
          "date": "2020-02-13T07:30:35.288Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1580513544453.685,
          "ctimeMs": 1580513591262.9292,
          "date": "2020-02-13T07:30:35.946Z"
        },
        {
          "file": "img/motor-1.jpeg",
          "mtimeMs": 1580999226000,
          "ctimeMs": 1580977674934.9644,
          "date": "2020-02-13T07:30:37.212Z"
        },
        {
          "file": "js/main.js",
          "mtimeMs": 1583286138957.7927,
          "ctimeMs": 1583286138957.7927,
          "date": "2020-03-04T01:48:23.631Z"
        },
        {
          "file": "css/style.css.map",
          "mtimeMs": 1584545260919.358,
          "ctimeMs": 1584545260919.358,
          "date": "2020-03-18T15:28:17.497Z"
        },
        {
          "file": "img/profile-pink.png",
          "mtimeMs": 1580999228000,
          "ctimeMs": 1580977674941.3132,
          "date": "2020-02-13T07:30:37.862Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1581031948177.345,
          "ctimeMs": 1581031948177.345,
          "date": "2020-02-13T07:29:52.398Z"
        },
        {
          "file": "img/venue-1.jpg",
          "mtimeMs": 1581580242120.8457,
          "ctimeMs": 1581580248207.2798,
          "date": "2020-02-13T08:21:00.977Z"
        },
        {
          "file": "img/expo-arturo.png",
          "mtimeMs": 1582087500000,
          "ctimeMs": 1582065981999.9395,
          "date": "2020-02-18T22:46:55.761Z"
        },
        {
          "file": "img/expo-chantal.png",
          "mtimeMs": 1582087502000,
          "ctimeMs": 1582065982009.4448,
          "date": "2020-02-18T22:46:57.292Z"
        },
        {
          "file": "img/expo-eufro.png",
          "mtimeMs": 1582087502000,
          "ctimeMs": 1582065982018.7896,
          "date": "2020-02-18T22:46:58.041Z"
        },
        {
          "file": "img/expo-juca.png",
          "mtimeMs": 1582087502000,
          "ctimeMs": 1582065982020.749,
          "date": "2020-02-18T22:46:58.834Z"
        },
        {
          "file": "img/expo-martha.png",
          "mtimeMs": 1582087502000,
          "ctimeMs": 1582065982022.5535,
          "date": "2020-02-18T22:46:59.683Z"
        },
        {
          "file": "img/logo-fcp-w.png",
          "mtimeMs": 1582077171963.7463,
          "ctimeMs": 1582079025719.5728,
          "date": "2020-02-19T03:48:55.447Z"
        },
        {
          "file": "img/logo-fcp.png",
          "mtimeMs": 1582079217827.266,
          "ctimeMs": 1582079260494.888,
          "date": "2020-02-19T03:48:56.215Z"
        },
        {
          "file": "img/logo-pabellon.png",
          "mtimeMs": 1582083515910.809,
          "ctimeMs": 1582083515970.3193,
          "date": "2020-02-19T03:48:57.270Z"
        },
        {
          "file": "img/logo-uanl-w.png",
          "mtimeMs": 1582077247958.0945,
          "ctimeMs": 1582079035752.3582,
          "date": "2020-02-19T03:48:58.110Z"
        },
        {
          "file": "img/logo-uanl.png",
          "mtimeMs": 1582077028081.809,
          "ctimeMs": 1582079038463.9565,
          "date": "2020-02-19T03:48:58.945Z"
        },
        {
          "file": "img/past-1.JPG",
          "mtimeMs": 1582102338000,
          "ctimeMs": 1582080927027.0083,
          "date": "2020-02-19T03:49:04.701Z"
        },
        {
          "file": "img/past-2.JPG",
          "mtimeMs": 1582102340000,
          "ctimeMs": 1582080927029.7258,
          "date": "2020-02-19T03:49:05.947Z"
        },
        {
          "file": "img/past-3.JPG",
          "mtimeMs": 1582102338000,
          "ctimeMs": 1582080927032.2908,
          "date": "2020-02-19T03:49:11.743Z"
        },
        {
          "file": "img/past-4.JPG",
          "mtimeMs": 1582102340000,
          "ctimeMs": 1582080927033.4888,
          "date": "2020-02-19T03:49:13.704Z"
        },
        {
          "file": "img/past-5.jpg",
          "mtimeMs": 1582102336000,
          "ctimeMs": 1582080927034.485,
          "date": "2020-02-19T03:49:15.083Z"
        },
        {
          "file": "img/past-6.JPG",
          "mtimeMs": 1582102340000,
          "ctimeMs": 1582080927035.474,
          "date": "2020-02-19T03:49:17.732Z"
        },
        {
          "file": "img/past-7.jpg",
          "mtimeMs": 1582102336000,
          "ctimeMs": 1582080927025.5505,
          "date": "2020-02-19T03:49:19.141Z"
        },
        {
          "file": "img/profile-black.png",
          "mtimeMs": 1582083127048.6802,
          "ctimeMs": 1582083136710.081,
          "date": "2020-02-19T03:49:19.759Z"
        },
        {
          "file": "img/expo-brenda.png",
          "mtimeMs": 1582250950000,
          "ctimeMs": 1582229475554.2573,
          "date": "2020-02-20T20:13:26.630Z"
        },
        {
          "file": "img/expo-omar.jpg",
          "mtimeMs": 1582064791246.6702,
          "ctimeMs": 1582229475556.7776,
          "date": "2020-02-20T20:13:27.345Z"
        },
        {
          "file": "img/expo-patch.png",
          "mtimeMs": 1582250950000,
          "ctimeMs": 1582229475555.5376,
          "date": "2020-02-20T20:13:28.424Z"
        },
        {
          "file": "img/expo-dorothy.png",
          "mtimeMs": 1582871014000,
          "ctimeMs": 1582849462710.2273,
          "date": "2020-02-28T00:29:06.296Z"
        },
        {
          "file": "img/expo-francisco.png",
          "mtimeMs": 1582871014000,
          "ctimeMs": 1582849462712.5415,
          "date": "2020-02-28T00:29:07.051Z"
        },
        {
          "file": "img/expo-joaquin.png",
          "mtimeMs": 1582871014000,
          "ctimeMs": 1582849462714.1233,
          "date": "2020-02-28T00:29:07.770Z"
        },
        {
          "file": "img/expo-miguel.png",
          "mtimeMs": 1582871014000,
          "ctimeMs": 1582849462715.7195,
          "date": "2020-02-28T00:29:08.680Z"
        },
        {
          "file": "img/mmx-video.mp4",
          "mtimeMs": 1582847677497.7288,
          "ctimeMs": 1582880818921.2678,
          "date": "2020-02-28T09:12:44.101Z"
        },
        {
          "file": "html/modal-participants.html",
          "mtimeMs": 1583201677658.0925,
          "ctimeMs": 1583201677658.0925,
          "date": "2020-03-03T02:59:11.839Z"
        },
        {
          "file": "html/modal-press.html",
          "mtimeMs": 1583201690481.2024,
          "ctimeMs": 1583201690481.2024,
          "date": "2020-03-03T02:56:47.912Z"
        },
        {
          "file": "img/motor-2.png",
          "mtimeMs": 1583346770848.1453,
          "ctimeMs": 1583346799370.071,
          "date": "2020-03-04T18:33:47.165Z"
        },
        {
          "file": "js/main-dist.js",
          "mtimeMs": 1583527875617.3328,
          "ctimeMs": 1583527875617.3328,
          "date": "2020-03-06T20:53:06.193Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": false,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "> 99.5%"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "js/main.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "customOutput": "js/main.js"
        }
      },
      {
        "file": "sass/style.scss",
        "config": {
          "sourceMap": true,
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      }
    ]
  }
}
